[Unit]
Description=Power Profiles Daemon to AMD-PSTATE EPP
Requires=power-profiles-daemon.service
After=power-profiles-daemon.service

[Service]
Type=simple
Restart=on-failure
User=root
ExecStart=/usr/local/bin/pp-to-amd-epp

[Install]
WantedBy=multi-user.target